.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    background-color: #f8f8f2;
    border: 10px solid #f8f8f2;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #282a36;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}